<%- include ('header.ejs') -%>
<!------------------------------------------------------------------------------------------------------------------->
  
 
    <tab><div class="dropdown" >  
    <label>Select list:</label><br>
    <button type="button" data-toggle="dropdown"style="width:150px;height:30px;">Tutorials  
    <span class="caret"></span></button>  
    <ul class="dropdown-menu">  
    <li><a href="/upcomming">HTML</a></li>  
    <li><a href="#">CSS</a></li>  
    <li><a href="#">JavaScript</a></li>   
    </ul>
    </div> 
     <div class="dropdown" >  
     <label>Select list:</label><br>
     <button type="button" data-toggle="dropdown"style="width:150px;height:30px;">Tutorialsss  
     <span class="caret"></span></button>  
     <ul class="dropdown-menu">  
     <li><a href="/upcomming">HTML</a></li>  
     <li><a href="#">CSS</a></li>  
     <li><a href="#">JavaScript</a></li>   
    </ul>
    </div>
    </tab> 
    <br><br>
    <center>No Records Found</center>   
                                                        
     
      
     
