<%- include ('header.ejs') -%>
      <!------------------------------------------------------------------------------------------------------------------->
            <div class="form-group">
            <label for="sel1">Course Lists:</label><br>
            <select  id="sel1" style="width:150px;height:30px;">
            <option>Select</option>
           <option a href="/upcomming">Upcomming</a></option>
           <option a href="/completed">Completed</a></option>
            </select>  
            </div> <br>

    <body>   
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <a href="/cdc" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>JavaScript</h3>
     
    <p align="right">  
    <button class="button">Start Course</button>
    </p>
    </div> 

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>JAVA</h3>
    <p align="right">
    <button class="button">Start Course</button>
    </p>
    </div> 

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>MATHS</h3>
    <p align="right">
    <button class="button">Start Course</button>
    </p>
    </div> 

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>C++</h3>
    <p align="right">
    <button class="button">Start Course</button>
    </p>
    </div>  

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>PYTHON</h3>    
    <p align="right">
    <button class="button">Start Course</button>
    </p>
    </div>
  