    <html>
    <head>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/pic.css">
    <link rel="stylesheet" href="./css/button.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>      
    </head>  
    <body>
    <header class="header">
    <div class="dropdown">
    <button class="dropbtn">☰</button> 
    <div class="dropdown-content">
    <a href="/dashboard"><img src ="./image/dashboard.png"width=20px height=20px> DASHBOARD</a>
    <a href="/userprofile"><img src ="./image/profile.png"width=20px height=20px> PROFILE</a>
    <a href="/examslist"><img src ="./image/upcomming.png"width=20px height=20px> COURSE</a>
    <a href="/completed"><img src ="./image/completed.png"width=20px height=20px> COMPLETED</a>
    <a href="/drive"><img src ="./image/drive.png"width=20px height=20px> DRIVE</a>
    <a href="/contest"><img src ="./image/contest.png"width=20px height=20px> CONTEST</a>
    <a href="/leaderboard"><img src ="./image/leaderboard.png"width=20px height=20px>LEADERBOARD</a>
    <a href="/attendance"><img src ="./image/attendance.png"width=20px height=20px> ATTENDANCE</a>
    <a href="/forgetpass"><img src ="./image/settings.png"width=20px height=20px> SETTINGS</a>
    </div>
    </div>
    <img src ="./image/logo.png" width=40px height=40px>
    <span style="color:rgb(247, 247, 247);">Online Examination Portal</span>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
    <li><a href="#search"><img src ="./image/search.png" width=20px height=20px></a></li>
    <li><a href="/cart"><img src ="./image/cart.png" width=20px height=20px></a></li>
    <li><a href="#notification"><img src ="./image/bell.png" width=20px height=20px></a></li>
    <li> <a href="/logout"><%= name %><img src ="./image/guest.png"width=20px height=20px></a> </li>
    </ul>    
    </header>
    </body>
    <br> <br>  	 
    <div style="background:black" class="jumbotron"> 
    <div class=" text-center">
    <h1 style="color:rgb(252, 252, 252);">Sri Shakthi Institute Of Engineering And Technology</h1> 
    </div>
    </div> 