<%- include ('header.ejs') -%>
<!------------------------------------------------------------------------------------------------------------------->

    <body>   
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3> Ruby</h3>
    <p align="right">  
    <button class="button">Comming soon</button>
    </p>
    </div> 
    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Oracle</h3></a>
    
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div> 

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Oracle</h3>
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div> 

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Cloud Computing</h3>
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div>  

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Machine Learning</h3>    
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div>

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Ethical Hacking</h3>    
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div>

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Internet Of Things</h3>    
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div>

    <div class="col-xs-6 col-md-3">
    <a href="/quiz" class="thumbnail">
    <img src="./image/course.png"></a>
    <h3>Digital Processing</h3>    
    <p align="right">
    <button class="button">Comming soon</button>
    </p>
    </div>
    </body> 
    </html>